@keyframes fadeInDot {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutDot {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* Vertical Line Animations */
@keyframes slideInLineVertical {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes slideOutLineVertical {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

/* Horizontal Line Animations */
@keyframes slideInLineHorizontal {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes slideOutLineHorizontal {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

/* Text Animations */
@keyframes slideInTextFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutTextToBottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes slideInTextFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutTextToTop {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes slideInTextFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutTextToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@keyframes slideInTextFromRight {
  from {
    opacity: 0;
    transform: translateX(calc(50px +  var(--line-height)));
  }
  to {
    opacity: 1;
    transform: translateX(var(--line-height));
  }
}

@keyframes slideOutTextToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}

#showcase-wrapper {
  &[data-direction] {
    .showcase-content-wrapper {
      position: relative;
      color: black;

      .showcase-content {
        position: absolute;
        width: 100%;
        opacity: 0;
        left: 5px;
      }

      &::before,
      &::after {
        position: absolute;
        content: '';
      }

      &::before {
        background-color: black;
      }

      &::after {
        display: block;
        width: 0.45rem;
        aspect-ratio: 1/1;
        border: 2px solid black;
        border-radius: 8px;
        background-color: white;
        opacity: 0;
      }
    }
  }

  &[data-direction='top'] .showcase-content-wrapper {
    &::before {
      bottom: 100%;
      left: 50%;
      width: 2px;
      height: var(--line-height, 150px); // Default 150px
      transform-origin: bottom;
    }
    &::after {
      bottom: 100%;
      left: calc(50% - 2.5px);
    }
    .showcase-content {
      bottom: calc(
        (var(--line-height, 150px) + 20px)
      ); /* Align bottom at the correct position */
      left: 20%;
    }
  }

  &[data-direction='bottom'] .showcase-content-wrapper {
    &::before {
      top: 100%;
      left: 50%;
      width: 2px;
      height: var(--line-height, 220px); // Default 220px
      transform-origin: top;
    }
    &::after {
      top: 100%;
      left: calc(50% - 2.5px);
    }
    .showcase-content {
      top: calc(var(--line-height, 220px) + 10px);
      left: 20%;
    }
  }

  &[data-direction='left'] .showcase-content-wrapper {
    &::before {
      top: 50%;
      right: 100%;
      width: var(--line-height, 150px); // Default 150px
      height: 2px;
      transform-origin: right;
    }
    &::after {
      top: calc(50% - 2.5px);
      right: 100%;
    }
    .showcase-content {
      left: calc(-1 * (var(--line-height, 150px) + 200px));
      right: unset;
    }
  }

  &[data-direction='right'] .showcase-content-wrapper {
    &::before {
      top: 50%;
      left: 100%;
      width: var(--line-height, 250px); // Default 250px
      height: 2px;
      transform-origin: left;
    }
    &::after {
      top: calc(50% - 2.5px);
      left: 100%;
    }
    .showcase-content {
      right: calc(-1 * (var(--line-height, 250px) + 170px));
      left: unset;
    }
  }

  /* Animation States */
  &.animate .showcase-content-wrapper {
    &::after {
      animation: fadeInDot 0.5s ease-in-out forwards;
    }
    &::before {
      animation: var(--slide-in-line) 0.8s ease-in-out 0.3s forwards;
    }
    .showcase-content {
      animation: var(--slide-in-text) 1s ease-in-out 0.6s forwards;
    }
  }

  &.exit-animate .showcase-content-wrapper {
    &::after {
      animation: fadeOutDot 0.5s ease-in-out 0.6s forwards;
    }
    &::before {
      animation: var(--slide-out-line) 0.8s ease-in-out 0.3s forwards;
    }
    .showcase-content {
      animation: var(--slide-out-text) 1s ease-in-out forwards;
    }
  }
}

/* Set Variables for Directions */
[data-direction='top'] {
  --slide-in-text: slideInTextFromBottom;
  --slide-out-text: slideOutTextToBottom;
  --slide-in-line: slideInLineVertical;
  --slide-out-line: slideOutLineVertical;
}

[data-direction='bottom'] {
  --slide-in-text: slideInTextFromTop;
  --slide-out-text: slideOutTextToTop;
  --slide-in-line: slideInLineVertical;
  --slide-out-line: slideOutLineVertical;
}

[data-direction='left'] {
  --slide-in-text: slideInTextFromRight;
  --slide-out-text: slideOutTextToRight;
  --slide-in-line: slideInLineHorizontal;
  --slide-out-line: slideOutLineHorizontal;
}

[data-direction='right'] {
  --slide-in-text: slideInTextFromLeft;
  --slide-out-text: slideOutTextToLeft;
  --slide-in-line: slideInLineHorizontal;
  --slide-out-line: slideOutLineHorizontal;
}
