// FloatingImg Movement
@keyframes floatingImg-move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}

.horizontal-vehicle-movement .animate-floatingImg {
  bottom: 38px;
  animation: floatingImg-move var(--floatingImg-movement-duration-lg, 11s)
    linear infinite;
}

/* Media Queries for Different Durations */
@media (max-width: 640px) {
  .horizontal-vehicle-movement .animate-floatingImg {
    bottom: 38px;
    animation-duration: var(--floatingImg-movement-duration-sm, 15s);
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .horizontal-vehicle-movement .animate-floatingImg {
    bottom: 38px;
    animation-duration: var(--floatingImg-movement-duration-md, 12s);
  }
}

// Wheel Rotation
@keyframes wheel-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.horizontal-vehicle-movement .animate-wheel {
  animation: wheel-rotate var(--wheel-spin-duration-lg, 0.6s) linear infinite;
}

/* Media Queries for Different Wheel Spin Speeds */
@media (max-width: 640px) {
  .horizontal-vehicle-movement .animate-wheel {
    animation-duration: var(--wheel-spin-duration-sm, 1.2s);
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .horizontal-vehicle-movement .animate-wheel {
    animation-duration: var(--wheel-spin-duration-md, 0.8s);
  }
}
